.nav-link-exact-active {
    color: #f3f3f3 !important;
}
.nav-link-exact-inactive {
    color: #718096 !important;
}
.nav-link-exact-inactive:hover {
    color: #e2dada !important;
}
.k-cursor--pointer{
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 0.2em !important;
    height: 0.5em !important;
}


*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
    background-color: #505050 !important;
    outline: 1px solid #505050 !important;
}
.k--text-color-white {
    color: #fff !important;
}
#brandingLogo{
    visibility: hidden;
}
